<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token%}
        <table border="1">
            <tr>
                <td>Course Name</td>
                <td><input type="text" name="CourseName" ></td>
            </tr>
            <tr>
                <td>Course_Duration</td>
                <td><input type="text" name="CourseDuration"></td>
            </tr>
            <tr>
                <td>Course_number</td>
                <td><input type="text" name="CourseNumber"></td>
            </tr>
            <tr>
                <td>Department_Id</td>
                <td>
                    <select name="sel_department" id="sel-department">
                        <option value="">..select..</option>
                        {% for i in departmentdata%}
                        <option 
                        {% if i.id == editdata.department_id %}
                        selected
                        {% endif %}
                        value="{{i.id}}">{{i.Department_Name}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" name="btnsubmit" value="Submit">
                    <input type="reset"  name="btnreset"  value="Reset">
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td>SINo</td>
                <td>Course_Name</td>
                <td>Cousre_Duration</td>
                <td>Course_number</td>
                <td>Department_Name</td>
            </tr>
            {% for i in coursedata %} 
            <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.Course_Name}}</td>
            <td>{{i.Course_Duration}}</td>
            <td>{{i.Course_Nusum}}</td>
            <td>{{i.Department_Name.Department_Name}}</td>
            <td><a href="{% url 'webclass:delete_course' i.id %}">Delete</a></td>
            </tr>
            {% endfor %}
            
        </table>
    </form>
</body>
</html>