<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>syllabus</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token%}
        <table border="1">
            <tr>
                <td>Course_Name</td>
                <td>
                    <select name="sel_course" id="sel_course">
                        <option value="">..select..</option>
                        {% for i in coursedata%}
                        <option value="{{i.id}}">{{i.Course_Name}}</option>
                        {% endfor %}
                    </select>
                </td>
            <tr>
                <td>Department_Name</td>
                <td>
                    <select name="sel_department" id="sel-department">
                        <option value="">..select..</option>
                        {% for i in departmentdata%}
                        <option value="{{i.id}}">{{i.Department_Name}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>Semester</td>
                <td>
                    <select name="sel_semester" id="sel-semester">
                        <option value="">..select..</option>
                        {% for i in semesterdata%}
                        <option value="{{i.id}}">{{i.Semester_Name}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" name="btnsubmit" value="Submit">
                    <input type="reset"  name="btnreset"  value="Reset">
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td>SINo</td>
                <td>Course_Name</td>
                <td>Department_Name</td>
                <td>Semester_Name</td>
            </tr>
            {% for i in syllabus %} 
            <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.Course_Name.Course_Name}}</td>
            <td>{{i.Department_Name.Department_Name}}</td>
            <td>{{i.Semester_Name.Semester_Name}}</td>
            <td><a href="{% url 'webclass:delete_syllabus' i.id %}">Delete</a></td>
            </tr>
            {% endfor %}
            
        </table>
    </form>
</body>
</html>